// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

// COLORS
$dark-grey: #222831;
$grey: #393e46;
$blue: #00adb5;
$white: #eee;
$error-color: #c70d3a;
$success-color: #43ab92;

$separation-content: 10;

$large-font-size: 25;
$normal-font-size: 15;

.darkMode {
  background-color: $dark-grey;
}

.spinner {
  color: $blue;

  ListView {
    color: $white
  }
}

