// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

// COLORS
$background: #121212;
$onBackground: #fff;
$surface: lighten($background, 5%);
$onSurface: #fff;
$onSurfaceMediumEmphasis: lighten($surface, 30%);
$primaryVariant: #3700b3;
$onPrimaryVariant: #000;
$primary: #bb86fc;
$onPrimary: #000;
$secondary: #03dac6;
$onSecondary: #000;
$error: #c70d3a;
$onError: #000;

$separation-content: 10;
$border-radius: 10;

$large-font-size: 20;
$normal-font-size: 15;
$small-font-size: 10;

.darkMode {
  background-color: $background;
  color: $onBackground;
}

.coinIcon {
  height: 25;
}

.spinner {
  color: $primary;

  ListView {
    color: $onSurface;
  }
}
